*{
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;

}

h2{
    font-size: 2rem;
}

.alertDiv{
    display: none;
    position: fixed;
    z-index: 2000;
    box-sizing: border-box;
    width: 30%;
    min-width: 300px;
    background-color: #1A252F;
    border-radius: 0.3rem;
    text-align: center;
    padding: 10px;
    color: white;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


}

#alertDiv h1{
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
    color: rgb(255, 158, 47);

}

#btnAlertClose{
    width: 10%;
    min-width: 50px;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
    background-color: #2C3E50;
    color: white;
    border: 1px solid rgb(245, 235, 215);
    border-radius: 0.2rem;
}

            /* HEADER */

header{
    background-color: #2C3E50;
    padding: 2rem;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: bolder;
    color: #ECF0F1;

}

            /* NAVIGATION MENU */
nav{
    display: flex;
    flex-wrap: wrap;
    background-color: #1A252F;
    color: #D5D8DC ;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    font-weight: bold;

    justify-content: center;
    

}

/* section{
    padding: 20px;
    flex: 1 1 10%;
    min-width: 300px;
    text-align: center;
    margin: 0 40px 0 40px;
    border: 1px solid yellow;

} */

/* menu list */
nav ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    border-radius: 0 0 0.4rem 0.4rem; 

}

nav ul li a{
    color: #D5D8DC;
    text-decoration: none;
    /* background-color: red; */
    display: inline-block;
    padding: 1rem;
    
    width: 100%;

} 

nav > ul > li{
    flex: 1 1 auto;
    text-align: center;
    background-color: #1A252F;
    margin-right: 5px;
    padding: 0.1rem;
    position: relative;

}

nav > ul > li > a:hover{
    text-decoration: underline;
    text-underline-offset: 0.3rem;

}

nav > ul > li:last-child{
    margin-right: 0;
}

nav > ul > li > ul{
    position: absolute;
    top: 100%;
    left: 0;
    /* background-color: #00ff6a; */
    width: 100%;
    z-index: 1000;
    overflow: hidden;

    display: none;

}

/* dropdown menu */
nav > ul > li > ul > li {
    display: block;
    width: 100%;
    padding: 0.4rem 0.5rem 0 0.5rem;
    background-color: #222F3A;
    text-align: left;

}

nav > ul > li > ul > li:last-child{
    padding: 0.4rem;

}

nav > ul > li > ul > li a{
    display: block;
    padding: 0.6rem;
    border-radius: 0.3rem;

}

nav > ul > li > ul > li a:hover{
    background-color: #1A252F;

}

nav > ul > li:hover > ul {
    display: block;
    
} 

            /* MAIN */
main{
    background-color: #ECF0F1;
    padding: 1rem;
    /* min-height: 1000px; do usuniecia (1000px) */
    display: flex;
    flex-wrap: wrap;

}

            /* PRODUCT SECTION */
#productDisplay{
    /* border: 1px solid black; */
    /* width: 80%; */
    flex: 1 1 80%;
    padding: 10px;
    display: flex;
    gap: 0.5rem;

}

/* Left side with photos and description */
#photosAndDescription{
    /* background-color: rgba(189, 0, 189, 0.445); */
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

/* Div with images */
#photoGallery{
    /* background-color: red; */
    flex: 1 1 60%;
    display: flex;
    align-items: center;
    gap: 2rem;
    
}

/* Main big image */
#photoGallery > img{
    width: 60%;
    height: auto;
    flex: 1 1 60%;
    background-color: gray;
    flex: 1;

} 

/* Aside with smaller images */
#photoGallery aside{
    /* background-color: rgb(192, 114, 114); */
    /* height: 100%;  ---------*/
    flex: 1 3 30%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: 1rem;

}

/* Thumbnail images */
#photoGallery aside img{
    flex: auto;
    width: 40%;
    height: 150px;
    display: inline-block;
    background-color: #f0f0f0;
    border: 1px dashed #999;

}

#photoGallery aside img:hover{
    cursor: pointer;

}



        /* Description */
#description{
    /* background-color: #F39C12; */
    flex: 1 1 30%;
    padding: 1rem 2rem 2rem 2rem;

}



        /* Right side with suppy and add to cart btn */
#addToCartSection{
    /* background-color: darkolivegreen; */
    /* border-left: 1px solid black; */
    border-right: 1px dashed black;
    flex: 1 1 30%;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;

}

#addToCartSection h2{
    /* background-color: #F39C12; */
    text-align: center;
    margin-bottom: 0;
}
#addToCartSection h3{
    /* background-color: #975d00; */
    margin-top: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
}

#storehouseStatus{
    /* background-color: #222F3A; */
    border: 2px dotted rgb(83, 83, 83);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#storehouseAmount{
    font-weight: bold;

}

/* Image that user is going to drop into cart */
.floating-img{
    display: block;
    /* background-color: red; */
    width: 60%;
    margin: 2rem auto 0 auto;
    border-bottom: 3px dotted burlywood;
    z-index: 100;

}

/* Created for responsive containerForDragableImage sizes*/
.invisible-img {
    position: relative;
    width: 50%; /* tak samo jak floating */
    height: auto;
    visibility: hidden;
    pointer-events: none;
    display: none;
}

#quantitySection{
    /* background-color: greenyellow; */
    margin-top: 3rem;
    border: 2px dotted rgb(83, 83, 83);
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#addToCartSection i{
    display: inline-block;
    /* background-color: yellow; */
    padding-top: 0.15rem;
    margin: 0 1rem 0 0.5rem;

}

#quantityInput{
    /* width: 80%; */
    flex: 1 1 80%;

}

/* Information to contact when ordering more than 2000 */
#informSpecialOrder{
    /* background-color: yellow; */
    display: block;
    margin-top: auto;
    padding: 10px;
    text-align: center;
    backdrop-filter: invert(70%) opacity(20%);
    border-radius: 0.2rem;

}



            /* CART SECTION */
#cartDisplay{
    /* border: 1px solid black; */
    padding: 10px;
    /* width: 20%; */
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#cartDisplay h1{
    padding: 0;
    margin: 0;
    display: block;
    font-size: 3rem;
    flex: 0 1 auto;

}

#cartInfo{
    /* height: 100%; */
    flex: 1 1 50%;
    min-height: 200px;
    max-height: 700px;
    border: 1px solid #D5D8DC;
    margin: 1rem 0;
    background-image:
    linear-gradient(rgba(236, 240, 241, 0.6), rgba(236, 240, 241, 0.6)),
    url(images/cart-plus-svgrepo-com.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10rem;

    overflow-y: auto;

}

.productInCart div{
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;
}

.priceInCart{
    margin-left: 1rem;
} 

#cartDisplay button{
    background-color: #F39C12;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: #FFFFFF;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    letter-spacing: 0.2rem;

}

#cartDisplay button:hover{
    background-color: rgb(252, 169, 35);

}

            /* FOOTER */
footer{
    background-color: #1C1C1C;
    padding: 1rem;
    text-align: center;
    color: #BDC3C7;

}


@media (max-width: 768px) {
    nav ul{
        flex-direction: column;

    } 

    nav > ul > li{
        flex: none;
        width: 100%;

    }

    nav ul li ul{
        position: static;

    }


    /* MAIN */
    main{
        flex-direction: column;

    }

    #productDisplay{
        width: 100%;
    }

    #cartDisplay{
        width: 100%;
        min-height: 500px;

    }

            /* PRODUCT DISPLAY */
    #productDisplay{
        width: 100%;
        flex-direction: column;

    }

    /* Left side with photos and description */
    #photosAndDescription{
        width: 100%;

    }

    #photoGallery{
        width: 100%;
        flex-direction: column;
        gap: 0.1rem;

    }
        #photoGallery > img{
            /* height: 300px;  -----------*/ 
            /* flex: 2 2 40%;
            background-color: gray;
            margin: 1rem;

            min-width: 300px;
            height: auto; */
            
            min-height: 300px;
            min-width: 300px;

        }


        #photoGallery aside{
            /* background-color: rgb(192, 114, 114);
            height: 100%;
            flex: 1 1 30%;

            display: flex;
            flex-wrap: wrap;
            align-items: center; */
            width: 90%;
            min-height: 100px;
            margin-top: 0.5rem;

        }

        /* ChatGPT */
        #photoGallery aside img{
            /* flex: auto;
            width: 40%;
            height: 200px;
            display: inline-block;
            background-color: #f0f0f0;
            border: 1px dashed #999; */

            width: 20%;
            height: 100px;
            /* max-height: 100px; */

        } 



    #description{
        width: 100%;

    }

    /* Right side with suppy and add to cart btn */
    #addToCartSection{
        width: 100%;

    }

    #quantitySection{
        margin-bottom: 2rem;
        margin-top: 2rem;

    }

    #containerForDragableImage{
        /* styl img */
        /* display: block;
        background-color: red;
        width: 60%;
        margin: 2rem auto 0 auto; */
        margin-top: 2rem;
        width: 100%;
        position: relative;

    }

    .floating-img {
        position: absolute;
        margin: 0;
        top: 0;
        left: 25%;
        width: 50%;
        height: auto;
    }

    .invisible-img {
        /* position: relative;
        width: 50%; 
        height: auto;
        visibility: hidden;
        pointer-events: none; */
        display: block;
    }

}

@media (max-width: 975px) {
    #addToCartSection {
        border-right: none;

    }
    
}